h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: #4aaaa5;
  color:  #ffffff;
  display: inline;
  margin-left: 30px;
  font-size: 50px;
  background-size: 90px;
  } 
h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin-bottom: 30px;
    margin-left: 30px;
  }
img {
  width: 275Spx;
  height: 400px;
  float: left;
  border: 20px;
}
li {
  display: inline;
}
ul {
  display: inline;
  float: right;
}
div {
  width: 300px;
  margin: 0 auto; 
  border-style: outset;
}
